.productContainer{
  display: flex;  
  overflow-x: scroll;    
}
.product{
  box-shadow: 0 0 5px;

}
.navbar{
  box-shadow: 0 0 5px;
}

.foot{
  background: white;
}

.available{
    position: absolute;
    background-color: white;
    border-radius: 2px;
    font-weight: bold;
    opacity: 75%;
    padding:2px;
    font-size: small;
}

.cal{
   vertical-align: middle;
   margin-top: 2px;
}

.cardImg
{
  max-width: 170px;
max-height: 200px
}